.wrapper {
  padding: 2rem 3rem;
}

.label {
  font-size: 1rem;
  font-weight: 500;
}

.editor {
  margin-top: 1rem;
  height: 150px;
}

.container {
  width: 500px;
  max-width: 100%;
}

.form-group {
  margin-bottom: 12px;
}

label {
  display: block;
  margin-bottom: 4px;
}

input {
  border: 1px solid #ccc;
}

input,
.ql-editor {
  padding: 4px;
  font-size: 14px;
}
